*{
    scroll-behavior: smooth;
}

/* navbar section */

.navbar{
    padding: 0 0;
}
.navbar-brand{
    font-family: 'Ubuntu', sans-serif;
    font-size: 1.9rem;
    font-weight: bold;
}
.nav-item{
    padding: 0 18px;
}
.nav-link{
    font-family: 'Montserrat-Light', sans-serif;
    font-size: 1.2rem;
}
.navbar-toggler-icon{
    padding: 2rem;
}

/* Title section */

.container-fluid{
    padding: 3% 17% 7%;
    overflow: hidden; 
    background-color: #ff4c68;
}
.row h1{
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 3rem;
    line-height: 1.5;
    margin-top: 40px;
}
.row-img{
    height: 480px;
    width: 245px;
    position: absolute;
    right: 30%;
    transform: rotate(25deg);
    margin-top: 70px;
}
.btn{
    margin: 5% 3% 5% 0;
}

/* feature section */

#features{
    padding: 12% 15%;
    text-align: center;
}
#features h3{
    font-family: 'Ubuntu', sans-serif;
    font-size: 1.6rem;
    font-weight: 900;
}
#features p{
    color: #8f8f8f;
    width: 70%;
    margin: auto;
    font-size: .9rem;
    font-weight: 500;
}
.fas{
    margin: 10px auto;
    font-size: 3.8rem;
    color: #ef8172;
}
.fas:hover{
    color: #ff4c68;
}

/* testimonial section */

#testimonials{
    text-align: center;
    background-color: #ef8172;
    color: white;
}
#testimonials h2{
    font-size: 2.7rem;
    line-height: 1.5;
    font-family: 'Montserrat-bold', sans-serif;
    font-weight: 600;
}
.testimonial-img{
    width: 10%;
    border-radius: 100%;
    margin: 20px;
}
.carousel-item{
    padding: 3% 15%;
}

/* press section */

#press{
    background-color: #ef8172;
    text-align: center;
    padding: 5% 0;
}
.press-img{
    width: 15%;
    margin: 10px 20px;
}

/* pricing */

#pricing{
    padding: 100px;  
    text-align: center;
}
#pricing h2{
    font-family: 'Montserrat-bold', sans-serif;
    font-weight: 800;
}
#pricing p{
    color:  #8f8f8f;
    font-weight: 600;
}
#pricing h3{
    font-family: 'Montserrat-bold', sans-serif;
    font-weight: 700;
    font-size: 1.5rem;
}
.card{
    margin: 30px 5px;
}

/* responsive styling using media query */

@media (max-width: 1093px) {
    .row-img{
        position: static;
        transform: rotate(0deg);
        margin-top: 30px;
    }
    .navbar-brand{
        font-size: 2.5rem;
    }
}
@media (max-width: 991px) {
    #title{
        text-align: center;
    }
    .navbar-brand{
        font-size: 2.5rem;
    }
}

/* cta section */

#cta{
    background-color: #ff4c68;
    text-align: center;
    padding: 8% 20%;
    color: white;
}
#cta h3{
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5rem;
    line-height: 1.5;
}

/* footer section */

#footer{
    text-align: center;
    padding: 8% 20%;
}
#footer p{
    color:  #8f8f8f;
    font-weight: 400;
    font-size: .9rem;
    font-family: 'Ubuntu', sans-serif;
}
.social{
    margin-bottom: 2%;
}
.social a{
    padding: 0% 1%;
    color: #383838; 
}